{
  "printWidth": 80,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "vueIndentScriptAndStyle": true
}
